body {
    box-sizing: border-box;
    margin: 0;
    border: none;
}

img {}

@font-face {
    font-family: safety;
    src: url(assets/font/safety.otf);
}

@font-face {
    font-family: safety-light;
    src: url(assets/font/safety-light.otf);
}

h1 {
    font-family: safety-light;
}

h2 {
    font-family: safety-light;
}

h3 {
    font-family: safety-light;
}

h4 {
    font-family: safety-light;
}

p {
    font-family: sans-serif, helvetica;
    color: #28292c;
}

::selection {
    background: #8eff24;
}



/****************NAVIGATION********************/

nav {
    height: 6vw;
    width: 100vw;
    background-color: #28292c;
    display: grid;
    grid-template-columns: 40vw 60vw;

}

.nav_left {
    width: 30vw;
}

#logo_container {
    margin: 1vw 0 1vw 10vw;
    width: 180px;
    height: 46px;
    background-image: url(assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav_right {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #28292c;
    height: 100%;
}

li {
    float: left;

}

li a {
    font-family: safety;
    font-size: 1rem;
    display: block;
    text-align: center;
    color: white;
    padding: 34px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#search {
    background-color: #28292c;
    border: none;
    font-size: 1.3rem;

}

#search a {
    color: white;
}

/****************DROPDOWN*******************/

.dropdown {
    float: left;
    font-size: 1rem;
    height: 100%;
}

.dropdown .dropbtn {
    height: 6vw;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: safety;
    margin: 0;
}

.dropbtn:hover {
    background-color: #111;
}

.dropdown-content {
    display: none;
    background-color: #3b4453;
    width: 100vw;
    position: fixed;
    left: 0;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.dropdown-content:hover {
    background-color: #3b4453;
}

.dropdown-content a:hover {
    background-color: #3b4453;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
}






/****************SPLASH*******************/

#splash {
    background-image: url(assets/sikker_splash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100vw;

}

/****************SECTION 1*******************/

#section_1 {
    background-color: #3b4453;
    width: 100vw;
    height: 10vh;
}

/****************SECTION 2*******************/


#section_2 {
    background-color: #fff;
    width: 80vw;
    height: 120vh;
    padding: 0 10vw 0 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (2, 1fr);
}


#cirkel_container {
    width: 50%;
    grid-column: 1;
    margin: 40px;
    margin-left: 200px;
}

#cirkel_container h2 {
    font-family: safety;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    position: static;

}

#cirkel_container h3 {
    font-family: safety;
    font-size: 1.4rem;
    margin: 0;
    padding: 30px;
    position: static;
}

#cirkel_text {
    width: 60%;
    grid-column: 2;
    align-self: center;
    font-family: safety;
    font-size: 2rem;
    padding-left: 100px;
}

#diagram {
    border-radius: 500px;
    fill: none;
    stroke-width: 100;
    transform: rotate(-90deg);
}

#stk1 {
    stroke: #3b4453;
    transition: 2s;
}

#stk2 {
    stroke: #eaeaea;
    transition: 2s;
}

#stk1:hover {
    stroke: #d10606;
}

#stk2:hover {
    stroke: #83878e;
}

/****************SECTION 3*******************/


#section_3 {
    background-color: #eaeaea;
    width: 80vw;
    height: 60vh;
    padding: 0 10vw 0 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1rf);
}

#barchart {
    height: 100vh;
}

#bar_container {
    grid-column: 2;

}

#bar_text {
    grid-column: 1;
    grid-row: 1;
    font-size: 2rem;
    padding: 20px;
    align-self: baseline;


}

#linier {
    stroke: #373D46;
    Stroke-width: .1;
    transition: 1s;
}

#text {
    font-family: safety;
    font-size: 0.3rem;
}

#disp {
    font-family: safety;
    font-size: .7rem;
}

#bars {
    stroke: #414B5A;
    stroke-width: 25;
    transition: 2s;
}

.l1:hover {
    stroke: #d10606;
    transition: 1s;
}

.l2:hover {
    stroke: #83878e;
    transition: 1s;
}


/****************SECTION 4*******************/


#section_4 {
    background-color: #fff;
    width: 80vw;
    height: 120vh;
    padding: 0 10vw 0 10vw;
}

#section_4 img {
    width: 80vw;
}

#section_4 h1 {
    font-size: 2rem;
    margin: 2vw 0 1vw 0;
}

#section_4 p {
    margin: 1vw 0 1vw 0;
}

/****************SECTION 5*******************/

#section_5 {
    background-color: #fff;
    width: 80vw;
    height: 120vh;
    padding: 0 10vw 0 10vw;
}

#section_5 img {
    width: 80vw;
}

#section_5 h1 {
    font-size: 2rem;
    margin: 2vw 0 1vw 0;
}

#section_5 p {
    margin: 1vw 0 1vw 0;
}

/****************SECTION 6*******************/

#section_6 {
    background-color: #fff;
    width: 80vw;
    height: 120vh;
    padding: 0 10vw 0 10vw;
}

#section_6 h1 {
    font-size: 2rem;
    margin: 2vw 0 1vw 0;
}

#section_6 p {
    margin: 1vw 0 1vw 0;
}

#ups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.undskyldninger {
    width: 7vw;
    height: 15vw;
}

.undskyldninger img {
    width: 7vw;
    height: 15vw;
}


/********************INFO******************/

.info {
    height: 20vw;
    grid-column: 1 / span 2;
    grid-row: 2;
    padding: 0 15vw 0 0;
}



/****************MEDIA QUERRIES*******************/

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 2rem;
    }

    /*NAV*/
    nav {
        height: 12vw;
    }

    .nav_right {
        display: none;
    }

    /*CIRKELDIAGRAM*/
    #section_2 {
        display: grid;
        grid-row: repeat(2, 1fr);
        height: 120vh;

    }

    #cirkel_container {
        grid-column: 1;
        grid-row: 1;
        margin-left: 100px;
        margin-bottom: 0;

    }

    #cirkel_text {
        grid-row: 2;
        grid-column: 1;
        align-self: center;
        font-family: safety;
        margin: 0;
    }

    /*SØJLEDIAGRAM*/
    #section_3 {
        display: grid;
        grid-row: repeat(2, .1fr);
        height: 70vh
    }

    #bar_container {
        grid-column: 1;
        grid-row: 1;
        margin-top: 80px
    }

    #bar_text {
        margin: 15px;
        padding: 0;
        grid-row: 1;
        font-family: safety;
    }

    #barchart {
        height: 100vh;
        padding-left: 0;
        margin: 0;
    }

}
